#benefits{


    h4{
        color: #5c93ce;
      }

    .flex-grid {
        display: flex;

        @media only screen and (max-width: 450px) {
            display: block ;
           
                    }
    }
    .benefit-card{
        flex: 1;
        padding:15px;
        margin-top: 50px;
    }
}