#benefits{
 padding-bottom: 150px;

 
    h1{
        color: #5c93ce;
        font-family: aleo;
        font-weight: bold;
      }
    h4{
      color: #5c93ce;
      font-family: aleo;
      font-weight: bold; 
    
    }

    .flex-grid {
        display: flex;

        @media only screen and (max-width: 450px) {
            display: block ;
           
                    }
    }
    .benefit-card{
        flex: 1;
        padding:15px;
        margin-top: 50px;
    }
}