@import "./../../utils";

#howitworks {
  margin-top: 96px;
  margin-bottom: 96px;

  .col-title {
    margin-bottom: 64px;

    h3 {
      font-weight: 700;
      font-family: $font1;
      font-size: 45px;
      line-height: 54px;
      color: $color_primary2;
      text-align: center;
      margin: 0;
    }
  }
}
