#howitworks{

    display: flex;
    justify-content: center;
    padding: 150px;

    h1{
        color: #5c93ce;
      }
    
      p{
          font-size: 17px;
          font-weight: 500;
          line-height: 2;
          color: "333";
      }
   
      .flex-grid{
        flex:1;     
         }
        .row{
            display:flex;
            justify-content: center;
            margin: 50px;
            height: auto;

        }
        .text-step{
            top: 50%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            text-align: center;
            background-color: white;
            height: 100%;
            border-radius: 14PX;
            width: auto;
            box-shadow: 1px 1px 14px 4px rgba(0,0,0,.36);
        }
}