#howitworks{

    display: flex;
    justify-content: center;
    padding: 150px;

    @media (max-width: 500px){
        padding: 0px;

    }

    h1{ background-color: #5c93ce;
        color: #fff;
        font-family: aleo;
        font-weight: bold;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding-top: 10px;
      }
    h2{ 
        font-size: 45px;
        color: #5c93ce;
        font-family: aleo;
        font-weight: bold;
        
       
      }
    
      p{
          font-size: 17px;
          font-weight: 500;
          line-height: 2;
          color: "333";
      }
   
      .flex-grid{
        flex:1;     
         }
        .row{
            display:flex;
            justify-content: center;
            margin: 50px;
            height: auto;

            @media (max-width: 500px){
                margin: 0px;
                padding-top: 50px;
        
            }

        }
        .text-step{
            top: 50%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            text-align: center;
            background-color: white;
            height: 100%;
            border-radius: 14PX;
            width: auto;
            box-shadow: 1px 1px 14px 4px rgba(0,0,0,.36);
        }


        .mobile-view{
            display: none;
            
            .text-step{
                padding: 10px;
                display: flex;
                flex-direction: column;
                vertical-align: middle;
                text-align: center;
                background-color: white;
                height: 100%;
                border-radius: 14PX;
                width: auto;
                box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.36);
                position: relative;
                left: 40px;
                top: -100px;

            }

            .img-step{
                position: relative;
                bottom: 60px;
                width: 200px;
                height: auto;
                margin-left: 35px;
            
            }

            h1{
            color: white;
            background-color: #5c93ce;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            padding-top: 10px;
            position: relative;
            left: -30px;
            }
             p {
                font-size: 17px;
                line-height: normal;
                color:#333;
                font-weight: normal;
                text-align: left;
                width: 170px;

            }
            
        }

        @media (max-width: 500px){

            .row-fullwidth{
                display: none;
            }
            .mobile-view{
                display: block;
            }
        }
        
}