@import "./../../utils";

#partnership {
  background-color: #10b5e9;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;

  h1 {
    color: white;
    font-family: aleo;
    font-weight: bold;
    margin-bottom: 32px;
  }

  p {
    color: white;
    margin-bottom: 48px;
  }

  .partner-btn {
    display: flex;
    flex-direction: column; /* stacks vertically instead of horizontally */
    justify-content: space-around; /* adds equal spacing above top, belo                                  bottom, and between all items */
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    background-color: white;
    height: auto;
    border-radius: 14px;
    width: auto;
    max-width: 600px;
    padding: 16px;
    @include breakpoint(md) {
      padding: 24px;
    }

    h3 {
      color: orange;
      margin: 15px;
    }
  }
}
