@import "./../../utils";

#partnership {
  background-color: #10b5e9;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;

  h1 {
    color: $color_light;
    font-family: $font1;
    font-weight: bold;
    margin-bottom: 32px;
  }

  p {
    color: $color_light;
    font-family: $font1;
    margin-bottom: 48px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 400;
  }

  .partner-btn {
    text-align: center;
    background-color: white;
    height: auto;
    border-radius: 12px;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 600;
    color: $color_secondary;
    font-family: $font2;
    text-decoration: none;

    @include elevation(12);
  }
}
