#WhyHiring{

  padding-top: 130px;
  background-image: url(/section2bkg.png);
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: 450px) {
    padding-top: 0px;
    margin-top: -150px;
            }
.intro-title{
  @media only screen and (max-width: 450px) {
    text-align: center;
  
  }

}

  h1{
    color: #5c93ce;
  }

  p{
      font-size: 17px;
      font-weight: 500;
      line-height: 2;
      color: "333";
  }
}


