@import "./../../utils";

#WhyHiring {
  padding-top: 164px;
  padding-bottom: 164px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 700px;
    background-image: url(/nearshore/section2bkg.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    z-index: 100;
  }

  @media only screen and (max-width: 450px) {
    padding-top: 0px;
    margin-top: -150px;
  }
  .intro-title {
    @media only screen and (max-width: 450px) {
      text-align: center;
    }
  }

  h1 {
    color: $color_primary;
    font-family: aleo;
    font-weight: bold;
  }

  p {
    font-size: 17px;
    font-weight: 500;
    line-height: 2;
    color: $color_dark2;
  }
}
