@import "./../../utils";

.calendly-inline-widget {
  background-color: $color_light;
  padding: 10px 22px;
  border-radius: 15px;
  width: fit-content;
  @include elevation(6);

  a {
    text-decoration: none;
    color: $color_secondary;
    font-size: 20px;
    font-weight: 600;
    font-family: $font2;

    &:hover {
      text-decoration: none;
      color: $color_secondary;
    }
  }
}
