#connectionsection{
    display: flex;
    justify-content: center;
    background-color: #10b5e9;
    padding: 50px;

    p{
        color: white;
    }
     .container{

        display: flex;
        flex-direction: row;
     }
    .form-connect{
        padding: 25px;


    .form-container{
        background-color: white;
        height: 100%;
        width: auto;
        border-radius: 15px;
    }
      


    }



   
}