#connectionsection{
    display: flex;
    justify-content: center;
    background-color: #10b5e9;
    padding: 50px;

    @media only screen and (max-width: 500px) {

        padding: 0px;

        padding-top: 100px;
        padding-bottom: 100px;
    }

    p{
        color: white;
    }
     .container{

        display: flex;
        flex-direction: row;

        @media only screen and (max-width: 500px) {

            display: block;
        }
     }
    .form-connect{
        padding: 25px;
        height: auto;
        width: auto;


    .form-container{
        background-color: white;
        height: 100%;
        width: auto;
        border-radius: 15px;
    }
      


    }



   
}