@import "./../../utils";

.step-item {
  display: grid;
  align-items: center;

  grid-template-columns: 70px 1fr;
  grid-template-areas: "number text" "image image";
  gap: 24px;

  @include breakpoint(md) {
    gap: 32px;
    grid-template-columns: 1fr 70px 1fr;
    grid-template-areas: "text number image";
    &.reverse {
      grid-template-areas: "image number text";

      .step-number {
        &:after {
          left: -10px;
          transform: rotate(45deg);
        }
      }
    }
  }

  .step-text {
    grid-area: text;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 16px 12px;
    border-radius: 14px;
    text-align: center;
    @include elevation(2);
    color: $color_dark2;
  }

  .step-number {
    grid-area: number;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color_terciary;
    color: #fff;
    border: 2px solid $color_light;
    font-family: $font1;
    border-radius: 50%;
    position: relative;
    @include elevation(2);

    span {
      z-index: 3;
      position: relative;
    }

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      background-color: $color_terciary;
      z-index: 2;
    }

    &:after {
      z-index: 1;
      width: 24px;
      height: 24px;
      background-color: $color_terciary;
      content: "";
      position: absolute;
      left: 52px;
      transform: rotate(45deg);
      border: 2px solid $color_light;
      @include elevation(2);
    }
  }

  .step-image {
    grid-area: image;
    justify-self: center;

    img {
      width: 100%;
      max-width: 320px;
      @include breakpoint(md) {
        max-width: none;
      }
    }
  }
}
