#Team{
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url(/team-bkg.png);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     h1{
        color: #5c93ce;
        font-family: aleo;
        font-weight: bold;

     }
     @media (max-width: 600px){
      padding-top: 50px;
      padding-bottom: 50px;

     }
}